.btn-carousel-modific>ul{
    color:#fff;
    z-index: 100;
    position: absolute;
    right: 3%;
    top: 15%;
}

.btn-carousel-modific a[data-toggle="dropdown"]>i.fa{
    cursor:pointer;  
    font-size:2.3em;
}

.btn-carousel-modific a:hover,.btn-carousel-modific a:focus{
    background: #3F729B!important;
}
.btn-carousel-modific>ul>li>ul>li>a>i.fa{
  font-size: 1.7em;

}
ul.nav.navbar-nav.navbar-right>li.open:hover{
  text-shadow: none!important;
}
.filupp > input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
textarea[name='descripcion']{
  min-height:100px;
}
label.error{
  color:#CC0000!important;
}
.filupp>i.fa{
  color: #fff;
  font-weight: bold;
  font-size: 1.9em;
  display: block;
  float: right;
}
.filupp {
  position: relative;
  background: rgba(83, 83, 83, 0.81);
  display: block;
  padding: 1em;
  font-size: 1em;
  width: 100%;
  height: 3.5em;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 1px 3px #0b0b0b;
  border-radius: 11px;
}
.filupp-file-name {
  width: 75%;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  font-family: 'calibre';
  font-size: 1.3em;
}
blockquote{
    border: none!important;
}



@font-face {
  font-family: Righteous-Regular;
  src: url('/packages/css/libs/font/Righteous-Regular.ttf');
}
@font-face {
  font-family: IndieFlower;
  src: url('/packages/css/libs/font/IndieFlower.ttf');
}


@font-face {
  font-family: Pacifico;
  src: url('/packages/css/libs/font/Pacifico.ttf');
}
.section-title {
  margin: 0 auto 5px;
  width: 420px;
}

.section-title h2 {
  color: #1f2021;
  font-size: 30px;
  position: relative;
  margin-bottom: 25px;
  padding-bottom: 27px;
  text-transform: uppercase;
  padding-top: 10%;
  text-align: center;
  font-family: 'Righteous-Regular';
}

.section-title h2:before {
  border-bottom: 1px solid #1f2021;
  bottom: 0;
  content: "";
  left: 50%;
  margin-left: -50px;
  position: absolute;
  width: 100px;
}

.section-title h2:after {
background: none repeat scroll 0 0 #fff;
border: 1px solid #1F2021;
border-radius: 25px;
bottom: -6px;
content: "";
height: 11px;
left: 50%;
margin-left: -5.5px;
position: absolute;
width: 11px;
}

.section-title p {
    line-height: 25px;
    font-size: 1em;
    text-align: center;
    font-family: 'Righteous-Regular';
}
[data-color="colors-blue"]{
    background-color: rgba(0, 186, 255, 0.49);
     background-image: url(/packages/images/user/bg-login1.jpg);
    background-size: 100% 100%;
    transition: 1s;
}
[data-color="colors-gray"]{
    background-color: rgba(0, 186, 255, 0.49);
    background-image: url(/packages/images/user/bg-login2.jpg);
    background-size: 100% 100%;
    transition: 1s;
}
[data-color="colors-brown"]{
    background:rgba(0, 186, 255, 0.49);
    background-image: url(/packages/images/user/bg-login3.jpg);
    background-size: 100% 100%;
    transition: 1s;
}
[data-color="colors-green"]{
    background:rgba(0, 186, 255, 0.49);
    background-image: url(/packages/images/user/bg-login4.jpg);
    background-size: 100% 100%;
    transition: 1s;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #0275d8;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #0275d8;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#section-about{
    padding: 0 5%;
}
#section-about>div.row>div.col-md-6:last-child{
    border-left: 4px solid #3f729B;
    padding-left: 5%;
    color: #666;
}
#section-about>div.row>div.col-md-6:first-child>i.fa-group{
  display: block;
  text-align: center;
  font-size: 2em;
  color: #666;
  transition: 1s;
    
  
}
#section-about>div.row>div.col-md-6:first-child>i.fa-group:hover{
  color: #aaa;
  transform: scale(1.1);
  transition: 1s;
 
    
  
}
#section-about>div.row:last-child{
    padding-bottom: 5%;
    padding-top: 1%;
}
/*===============================================
        sections ubicación
===============================================*/

#section-ubicacion{
    padding-bottom: 10%!important;
    
}
.panel-my>.panel-heading,.panel-my>.panel-footer{
    background: #3F729B;
}
.btn-form{
    padding: 3px!important;
    margin: 0!important;
}
.panel-my input,.panel-my textarea{
    font-family: 'Righteous-Regular';
}
/*============================================================
/*============================================================
    Footer
============================================================*/

#footer {
    background-color: #3F729B;
    padding-top: 1.8%;
}

.footer-logo {
    margin-bottom: 45px;
}

.footer-social {
    margin-bottom: 56px;
}

.footer-social h3 {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.footer-social h3:after {
  border-bottom: 2px solid #fff;
  bottom: 0;
  content: "";
  display: block;
  left: 50%;
  margin-left: -115px;
  position: absolute;
  width: 230px;
}

.footer-social ul li a {
  color: #fff;
  font-size: 1.1em;
}

.footer-social ul li a:hover {
  /*color: #00C7FC;*/
}

.footer-social ul #fb:hover{
  
}


#info{
  background-color: #dbdbdb;
}

#info .feature-wrap i{ 
  font-size: 78px;
  color: #fff;
  height: 150px;
  width: 150px;
  margin: 3px;
  border-radius: 100%;
  line-height: 110px;
  text-align:center;
  background: #5A72C8;
  border: 3px solid #5A72C8;
  box-shadow: inset 0 0 0 5px #ffffff;
  -webkit-box-shadow: inset 0 0 0 5px #ffffff;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  padding: 12px;
}

#info .feature-wrap i:hover {
  background: #ffffff;
  color: #000;
  box-shadow: inset 0 0 0 5px #5A72C8;
  -webkit-box-shadow: inset 0 0 0 5px #5A72C8;
  border: 3px solid #fff;
}

#info h4{
  color: #1f2021;
    font-size: 30px;
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 27px;
    text-transform: uppercase;
    font-family: 'Pacifico';
}

#info p{
  color: #000;
  line-height: 25px;
  font-weight: 300;
  font-size: 17px;
  font-family: 'Righteous-Regular';
}

#function .feature-wrap i{ 
  font-size: 78px;
  color: #fff;
  height: 150px;
  width: 150px;
  margin: 3px;
  border-radius: 100%;
  line-height: 110px;
  text-align:center;
  background: #E57070;
  border: 3px solid #ffffff;
  box-shadow: inset 0 0 0 5px #ffffff;
  -webkit-box-shadow: inset 0 0 0 5px #ffffff;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  padding: 12px;
}
footer h5{
    margin-bottom: 15px;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    font-family: IndieFlower;
    text-align: justify;
}

footer ul{
    text-align: justify;
    font-size: 17px;
    font-family: Righteous-Regular;
}

footer ul li{
  margin-bottom: 7px;
}

footer ul li a:hover{
  color: #fff;
}


.fb-bg{
    background: #3B5998;
}
.tw-bg{
    background: #6CDFEA;
}
.ins-bg{
    background: #3F729B;
}
.yt-bg {
    background-color: #CD201F;
}